<% provide(:title, "Help") %>
<div class="row centered-text">
  <br>
  <h3>Frequently Asked Questions</h3>
  <hr>
  <br>
  <h4>What’s going on here?</h4>
  <p>DevClout provides a unique score to evaluate your developer skills and influence on Github and StackOverflow. You can compare your score with friends, know your ranking among them and other DevClout developers, quickly find your friends strengths and find areas you can improve to become a better developer.</p>
  <h4>I don’t have a Github account? Can I use DevClout?</h4>
  <p>At this time only developers with a Github account can use DevClout. If you are a developer and don’t have a account with GitHub we highly recommend you create one. It’s free!</p>
  <h4>How is my score calculated?</h4>
  <p>We use different datapoints to calculate your score on DevClout, for example the number of stars and forks your repos have on GitHub, the number of followers you have and your reputation, questions answered, up-votes and down-votes from StackOverflow. The score is weighed heavily towards the value of your code to your fellow developers.</p>
  <h4>How can I get more points?</h4>
  <p>The best way to get more points is to share your best code on GitHub and contribute answers on StackOverflow. As more people start using your code for their projects or recognizing your help, you will get more points and also become a better developer.</p>
  <h4>How often does the leaderboard get updated?</h4>
  <p>The leaderboard is updated every time a new developer create an account with DevClout. To know your most recent position go to your profile or to leaderboard page.</p>
  <h4>How does the leaderboard and ranking work?</h4>
  <p>The leaderboard uses the developer scores to create the ranking. The greatest score will have the highest ranks. Simple as that!</p>
  <h4>I’m on the leaderboard page but I can’t find my rank. What’s going on?</h4>
  <p>The leaderboard always show the first 25 highest ranks. If you can’t find your name on the first page, try to use the search bar with your name to check your position.</p>
  <h4>What are tiers? How do I change tiers?</h4>
  <p>Tiers are calculated based on the developer score. To change tiers you have to get more points (see here how to get more points). Currently there are five tiers on DevClout:
  <ul>
    <li><strong>Apprentice:</strong> More than 1 point and less than 21 points</li>
    <li><strong>Enthusiast:</strong> More than 21 points and less than 41 points</li>
    <li><strong>Creator:</strong> More than 41 points and less than 71 points</li>
    <li><strong>Collaborator:</strong> More than 71 points and less than 91 points</li>
    <li><strong>Guru:</strong> More than 91 points</li>
  </ul>
  </p>
  <h4>Why does my name, picture or e-mail are not being shown on my profile?</h4>
  <p>Your name, picture and e-mail are created using your data from GitHub. If you are not seeing any of those informations is because you don’t have them on your GitHub profile. To update this information click on the “Edit Profile” button on the left sidebar so you can fill your information.</p>
  <h4>What happens if I don’t have a StackOverflow account?</h4>
  <p>You can use DevClout without having a StackOverflow account, however we highly recommend that you create an account with StackOverflow and start sharing your knowledge the developer community. When you create an account with StackOverflow you will also get more points on DevClout.</p>
  <h4>How can I get followers?</h4>
  <p>To get followers you must authenticate your Twitter account with DevClout. After that you can see your Twitter followers that are already using DevClout and also get more followers.</p>
  <h4>How can I follow someone?</h4>
  <p>To follow other developers you must authenticate your Twitter account with DevClout. After that you can see your Twitter friends (people you follow) that are already using DevClout and also follow more developers.</p>
  <h4>What happens if I don’t have a Twitter account?</h4>
  <p>You can use DevClout without having a Twitter account, however we highly recommend that you create one. It’s free!</p>
  <h4>Why do I need to provide access to my private repositories?</h4>
  <p>We only use the following information from your repos (public or private) on StackOverflow:
  <ul>
    <li>Name of the repository</li>
    <li>Description</li>
    <li>Number of stars for each repository</li>
    <li>Number of forks for each repository</li>
    <li>Number of watchers for each repository</li>
    <li>Creation date</li>
    <li>Language</li>
  </ul>
  We use these information to calculate your score and generate reports for you. We don’t access your private repositories code or any other information.</p>
  <h4>How can I delete my account?</h4>
  <p>The feature to delete account is being developed and will be available soon. If you need to delete your account, just send us an email and we delete it for you.</p>
  <h4>I’m a recruiter. Can I see the developers profile or score?</h4>
  <p>At this moment only developers can have access to DevClout, but we are planning a version for recruiters. If there is something you would like to see on this version, please send us an email with your need or suggestion and we will be more than happy to chat with you.</p>
  <h4>Who is behind DevClout?</h4>
  <p>We’re flattered you asked! Learn more about us <a href="/about">here</a>.</p>
</div>