<% provide(:title, "Home") %>
<div class="homepage-hero-module <%= controller_name%> <%= action_name %>">
        <div class="video-container">
            <div class="filter"></div>
            <%= video_tag(["Hello-World.webm", "Hello-World.mp4"], poster: "Hello-World.jpg", :autobuffer => true, :autoplay => true, :loop => true,) %>
            <div class="title">
                <h1>DevClout</h1>
                <%= image_tag("beta.png", class: "beta-img") %>
                <h2>UNLEASH YOUR DEVELOPER SKILLS</h2>
                <% if current_user %>
                  <a class="btn" href="/profile">I'm a Developer</a>
                <% else %>
                  <a class="btn" href="#" data-reveal-id="developer-sign-in">I'm a Developer</a>
                <% end %>
                <a href="#main" class="down-arrow hide-for-small-down"></a>
            </div>
        </div>
    </div>

    <!-- COMPARE FRIENDS POP UP -->
      <div id="developer-sign-in" class="reveal-modal popup sign-in text-align-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="popup-logo">
      <img src="http://svgporn.com/logos/github-icon.svg" alt="Github Logo" />
      </div>
      <h3 class="title">Log into your Git Hub account</h3>
      <h3 class="disable">Authenticating Your Account...</h3>
      <img class="disable" src="./loader/wheel.svg" alt="loader"/>
      <a class="btn" href="/signin">Login to Github</a>
      <div class="spacer-teritary"></div>
      <div class="disclaimer">
      <p>By clicking login, you agree to the <a href="#" class="black">terms of service</a> and <a href="#" class="black">privacy statement</a>.<br/>You may delete your account at anytime.</p>
      </div>
      <a class="close-reveal-modal" aria-label="Close">X</a>
      </div>
    <!-- #/END OF COMPARE FRIENDS POP UP -->

    <div id="main" class="main" name="content">
        <div class="spacer-primary"></div>
        <div class="homepage-section-module">
            <div class="row">
                <h2>GRAPHICAL REPRESENTATION OF YOUR DEVELOPMENT ACTIVITIES</h2>
                <div class="spacer-secondary"></div>
                <div class="large-9 columns">
                    <canvas id="myChart" class="chartset1"></canvas>
                </div>
                <!-- <div class="medium-1 columns"></div> -->
                <div class="large-3 columns side-text">
                    <h3> Find areas where you can contribute to becoming a top developer in your community!</h3>
                    <p>DevClout provides you with pertinent information enabling you to become a better developer.</p>
                    <p>Get your DevClout score based on your actvity in Github and Stackoverflow profiles</p>
                </div>
            </div>
            <div class="spacer-primary hide-for-medium-down"></div>
            <div class="text-align-center">
                <% if current_user %>
                  <a class="btn" href="/profile">I'm a Developer</a>
                <% else %>
                  <a class="btn" href="#" data-reveal-id="developer-sign-in">I'm a Developer</a>
                <% end %>
            </div>
        </div>
        <div class="spacer-primary"></div>
        <hr/>

    <div class="spacer-primary"></div>

    <div class="homepage-section-module">
        <div class="row">
            <h2>Review your own analytics & compare</h2>
            <div class="spacer-secondary"></div>
            <div class="medium-4 columns text-align-center chartset2-animation-column">
                <h3>Language Break Down</h3>
                <canvas id="myPie1" class="chartset2"></canvas>
            </div>
            <div class="medium-4 columns text-align-center chartset2-animation-column">
                <h3 class="chartset-scroll">Compare your score</h3>
                <canvas id="myPie3" class="chartset2"></canvas>
            </div>
            <div class="medium-4 columns text-align-center chartset2-animation-column">
                <h3>Score Break Up</h3>
                <canvas id="myPie2" class="chartset2"></canvas>
            </div>
        </div>
        <div class="spacer-primary "></div>
        <div class="text-align-center">
            <% if current_user %>
                  <a class="btn" href="/profile">I'm a Developer</a>
                <% else %>
                  <a class="btn" href="#" data-reveal-id="developer-sign-in">I'm a Developer</a>
                <% end %>
        </div>
        <div class="spacer-primary"></div>
        <hr/>
    </div>
    <div class="spacer-primary"></div>

    <div class="homepage-section-module">
        <div class="row">
            <h2>Developers love us</h2>
            <div class="medium-12 columns">
                <div class="reviews">
          	    <!-- Review Item -->
          	    <div class="review">
          	      <div class="review-photo">
          	        <img src="https://secure.gravatar.com/avatar/5bd6cfbcaa40b78971e9a89f29e9b537.jpg?s=192&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F3654%2Fimg%2Favatars%2Fava_0006.png" alt="David Photo" />
          	      </div>
          	      <div class="review-comment">
          	        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel enim et nibh interdum efficitur. Mauris fermentum eros orci, id venenatis purus maximus non. Proin sit amet purus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel enim et nibh interdum efficitur. Mauris fermentum eros orci, id venenatis purus maximus non. Proin sit amet purus tortor.
          	      </div>
          	      <div class="review-name">
          	        <span class="name">Deivide Oliveira</span>
          	      </div>
          	      <div class="review-twitter">
          	        <span class="handle"><a href="#">@DVDOliverira</a></span>
          	      </div>
          	    </div>
          	    <!-- Review Item -->
          	    <!-- Review Item -->
          	    <div class="review">
          	      <div class="review-photo">
          	        <img src="https://secure.gravatar.com/avatar/5bd6cfbcaa40b78971e9a89f29e9b537.jpg?s=192&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F3654%2Fimg%2Favatars%2Fava_0006.png" alt="David Photo" />
          	      </div>
          	      <div class="review-comment">
          	        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel enim et nibh interdum efficitur. Mauris fermentum eros orci, id venenatis purus maximus non. Proin sit amet purus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel enim et nibh interdum efficitur. Mauris fermentum eros orci, id venenatis purus maximus non. Proin sit amet purus tortor.
          	      </div>
          	      <div class="review-name">
          	        <span class="name">Deivide Oliveira</span>
          	      </div>
          	      <div class="review-twitter">
          	        <span class="handle"><a href="#">@DVDOliverira</a></span>
          	      </div>
          	    </div>
          	    <!-- Review Item -->
          	    <!-- Review Item -->
          	    <div class="review">
          	      <div class="review-photo">
          	        <img src="https://secure.gravatar.com/avatar/5bd6cfbcaa40b78971e9a89f29e9b537.jpg?s=192&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F3654%2Fimg%2Favatars%2Fava_0006.png" alt="David Photo" />
          	      </div>
          	      <div class="review-comment">
          	        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel enim et nibh interdum efficitur. Mauris fermentum eros orci, id venenatis purus maximus non. Proin sit amet purus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel enim et nibh interdum efficitur. Mauris fermentum eros orci, id venenatis purus maximus non. Proin sit amet purus tortor.
          	      </div>
          	      <div class="review-name">
          	        <span class="name">Deivide Oliveira</span>
          	      </div>
          	      <div class="review-twitter">
          	        <span class="handle"><a href="#">@DVDOliverira</a></span>
          	      </div>
          	    </div>
          	    <!-- Review Item -->
          	    <!-- Review Item -->
          	    <div class="review">
          	      <div class="review-photo">
          	        <img src="https://secure.gravatar.com/avatar/5bd6cfbcaa40b78971e9a89f29e9b537.jpg?s=192&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F3654%2Fimg%2Favatars%2Fava_0006.png" alt="David Photo" />
          	      </div>
          	      <div class="review-comment">
          	        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel enim et nibh interdum efficitur. Mauris fermentum eros orci, id venenatis purus maximus non. Proin sit amet purus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel enim et nibh interdum efficitur. Mauris fermentum eros orci, id venenatis purus maximus non. Proin sit amet purus tortor.
          	      </div>
          	      <div class="review-name">
          	        <span class="name">Deivide Oliveira</span>
          	      </div>
          	      <div class="review-twitter">
          	        <span class="handle"><a href="#">@DVDOliverira</a></span>
          	      </div>
          	    </div>
          	    <!-- Review Item -->
          	  </div>
            </div>
            <div class="spacer-primary"></div>
            <div class="text-mobile-align-center">
                <% if current_user %>
                  <a class="btn" href="/profile">I'm a Developer</a>
                <% else %>
                  <a class="btn" href="#" data-reveal-id="developer-sign-in">I'm a Developer</a>
                <% end %>
            </div>
        </div>
        <div class="spacer-primary"></div>
    </div>
</div>
