<% provide(:title, "Home") %>
<h1>DevStack - Home</h1>
<p>This is the home page for the DevStack project</p>
<br>
<a href="/help">Help</a> |
<a href="/about">About</a> |
<a href="/contact">Contact</a>
<ul>
  <li><%= link_to 'Sign In', signin_path%></li>
</ul>
