<div class="analytics-pane">
	<!-- github + stack overflow options -->
	<div class="analytic-view-options">
  	<span class="github-btn active">GitHub</span>
		<span class="stackoverflow-btn">StackOverflow</span>
	</div>
	<!-- #/End of github + stack overflow options -->

	<% if (current_user.id == @user.id)  && !@user.stack_user %>
		<!-- STACKOVERFLOW POP UP -->
	    <div id="stack-overflow-sign-in" class="reveal-modal popup sign-in text-align-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	    <div class="popup-logo">
	    <img class="stack-overflow-text-icon" src="../images/icons/stack-overflow-with-text-icon.svg" alt="StackOverflow Logo" />
	    </div>
	    <h3 class="title">Log into your StackOverflow account</h3>
	    <h3 class="disable">Authenticating Your Account...</h3>
	    <img class="disable" src="./loader/wheel.svg" alt="loader"/>
	    <a class="btn" href="/stackoverflow">Login to StackOverflow</a>
	    <div class="spacer-teritary"></div>
	    <div class="disclaimer">
	    <p>By clicking login, you agree to the <a href="#" class="black">terms of service</a> and <a href="#" class="black">privacy statement</a>.<br/>You may delete your account at anytime.</p>
	    </div>
	    <a class="close-reveal-modal" aria-label="Close">&times;</a>
	    </div>
	  <!-- #/END OF STACKOVERFLOW POP UP -->
  <% end %>
	<div style="clear:both;"></div>

	<!-- Main Analytics -->
	<div class="main-analytics">
		<!-- 1st level -->
		<div class="row centered-text">
	    <div class="medium-4 large-4 columns">
	      <div class="analytic-panel ap-1">
      		<h3>Followers <!-- <span data-tooltip aria-haspopup="true" class="has-tip" title="Followers: Put Some Text Here..."><i class="fa fa-question-circle"></i></span> --></h3>
	      	<span class="current_total"><%=@user.github_user.followers%></span>
	      	<span class="current_changed"><i class="fa fa-minus"></i></span>
	      </div>
	    </div>
	    <div class="medium-4 large-4 columns">
	      <div class="analytic-panel ap-2">
	      	<h3>Public Repositories <!-- <span data-tooltip aria-haspopup="true" class="has-tip" title="Followers: Put Some Text Here..."><i class="fa fa-question-circle"></i></span> --></h3>
	      	<span class="current_total"><%=@user.github_user.public_repos%></span>
	      	<span class="current_changed"><i class="fa fa-minus"></i></span>
	      </div>
	    </div>
	    <div class="medium-4 large-4 columns">
	      <div class="analytic-panel ap-3">
	      	<h3>Leaderboard Rank <!-- <span data-tooltip aria-haspopup="true" class="has-tip" title="Followers: Put Some Text Here..."><i class="fa fa-question-circle"></i></span> --></h3>
	      	<span class="current_total"><%=@leaderboard_pos%></span>
	      	<span class="current_changed"><i class="fa fa-minus"></i></span>
	      </div>
	    </div>
	  </div>
	  <!-- #/end of 1st level -->
	  <!-- 2nd level -->
	  <div class="row centered-text">
	    <div class="medium-6 large-6 columns">
	      <div class="analytic-panel graph1">
	      	<h3>General</h3>
	      	<canvas id="myPie6" class="chartset3"></canvas>
	      	<!-- comparing with -->
	      	<div class="comparing-with">
	      		<div id="radar-legend"></div>
	      	</div>
	      	<!-- #/End of comparing with -->
	      </div>
	    </div>
	    <div class="medium-6 large-6 columns">
	      <div class="analytic-panel graph2">
	      	<h3>Languages</h3>
	      	<canvas id="myPie4" class="chartset3"></canvas>
	      	<!-- comparing with -->
	      	<div class="comparing-with">
	      		<div id="pie-legend"></div>
	      	</div>
	      	<!-- #/End of comparing with -->
	      </div>
	    </div>
	  </div>
	  <!-- #/End of 2nd level -->
	  <!-- 3rd level -->
	  <div class="row centered-text">    
	    <div class="medium-12 large-12 columns">
	      <div class="analytic-panel graph4">
	      	<h3>Repositories</h3>
	      	<canvas id="myPie8" class="chartset3"></canvas>
	      	<!-- comparing with -->
	      	<div class="comparing-with">
	      		<div id="bar-legend"></div>
	      	</div>
	      	<!-- #/End of comparing with -->
	      </div>
	    </div>
	  </div>
	  <!-- #/End of 3rdnd level -->
	</div>
	<!-- #/End of Main Analytics -->
</div>