/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 /*THIS FILE INCLUDES ALL STYLING FOR BASIC ASSESTS SUCH AS HEADERS/LINKS/BUTTONS/TEXT-ALIGNING/RESPONSIVE MEDIA*/
 body h1,h2,h3,h4,h5,h6,p,ul,ol,li,div,a, span, form, input, label, textarea {
     font-family: 'lato', 'helvetica', 'arial', 'sans-serif';
     color: #222222;
     font-weight: 300;
 }
 body{
     /** Document Font-Size for rem **/
     font-size:16px;
     font-weight: 300;
 }

 .main{
     margin:0px 50px;
     @media (max-width: 480px){
        margin: 0px 20px;
     }
 }

 /****** font *********/
 h1,h2,h3,h4,p{
     padding-bottom:15px;
 }
 h1{
     font-size: 4.375rem;
     line-height:5rem;
 }

 h2{
     font-size: 2.5rem;
     line-height:3rem;
     text-transform: uppercase;
     letter-spacing: .3rem;
 }
 h3{
     font-size: 1.875rem;
     line-height: 2.5rem;
     margin-bottom:10px;
 }
 h4{
     font-size: 1.688rem;
     line-height: 2.1rem;
 }
 p{
     font-size: 1rem;
     line-height: 1.5rem;
 }
    
 /** Mobile View When window is smaller 767px  **/
 @media (max-width: 767px){
     h1{
         font-size: 3.125rem;
         line-height:3.625rem;
     }
     h2{
         font-size: 1.875rem;
         line-height: 2.375rem;
         text-transform: uppercase;
         letter-spacing: .3rem;
     }
     h3{
         font-size: 1.563rem;
         line-height: 2.063rem;
     }
     h4{
         font-size: 1.375rem;
         line-height: 1.575rem;
     }
 }
 @media (max-width: 640px){
        .title{
            h1{
                font-size: 1.875rem;
                line-height: 2.375rem;
            }
            h2{
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }
    }

 /************ BUTTONS + LINKS ****************/
 a{
     color:#2c87c1;
     text-decoration: underline;
 }
 a:hover{
     color:#2c87c1;
     text-decoration: none;
 }
 a.secondary{
     color:#8abf67;
     text-decoration: underline;
 }
 a.secondary:hover{
     color:#719c54;
     text-decoration: none;
 }
 a.btn, input.profile-update-btn{
   display: inline-block;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 0px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  background: #8abf67;
    &:hover {
     text-decoration: none;
     background: #719c54;
    }
 }
 input.profile-update-btn{
  margin-bottom: 15px;
  position: static;
  display: block;
  border: none;
  font-weight: 300;
  font-family: lato;
  cursor: pointer;
 }
 a.btn-secondary{
     background: #2c87c1;
 }
 a.btn-secondary:hover{
     background: #287aae;
 }

 a.black{
    color: #222222;
    text-decoration: underline;
    &:hover{
        ext-decoration: none;
    }
 }

 a.white{
    color: #fff;
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
 }
 .title a.btn{
    margin-bottom:20px;
 }

 /************ NAV **************/
 nav.top-bar{
    z-index: 10;
 }
 nav li.title-area a.text-logo{
    font-size: 1.0625rem;
    line-height: 2.8125rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin: 0;
    color: #ffffff;
    display: block;
    font-weight: normal;
 }
body > nav > section.top-bar-section > ul.right > li > h2{
    font-size: 1rem; 
    line-height: 1.5rem;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 300;

    a{ 
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 300;
        padding:10px 0px;
    }

    a.signin-btn{
        background: #8abf67;
    }
    a.signin-btn:hover{
        background: #719c54;
    }
}

 /************ LIST /************/
 ul, ol{
     margin-left:40px;
 }

 ul li{
     list-style-type: disc;
 }

 ol li{
     list-style-type: decimal;
 }
 /************ MISC ****************/
 .profile-menu img{
    height: 33px;
    width: 33px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-bottom: 6px;
 }
 .close-reveal-modal{
    background: #fff;
    width: 80px;
    padding-top:10px;
    height: 80px;
    right: 0px !important;
    top:0px !important;
 }
.alert-box{
    margin-bottom: 0px;
    text-align: center;
    font-size: 15px;
    font-family: 'lato', 'sans-serif';
} 
*:focus {
    outline:none !important;
}
.disable{
    display:none;
}
 hr{
   border-top: 1px solid #ccc;
   margin: 0px;
 }
 .inline-desktop{
     display:inline;
 }
 .text-align-left{
     text-align: left;
 }
 .text-align-center{
     text-align: center;
 }
 .text-align-right{
     text-align: right;
 }
 .spacer-primary{
     height:60px;
 }
 .spacer-secondary{
     height:40px;
 }
 .spacer-teritary{
     height:30px;
 }

 /** Mobile View When window is smaller 767px  **/
 @media (max-width: 767px){
     .inline-desktop{
         display:block;
     }
     .spacer-primary{
         height:40px;
     }
     .spacer-secondary{
         height:30px;
     }
     .spacer-teritary{
         height:30px;
     }
     .text-mobile-align-left{
         text-align: left;
     }
     .text-mobile-align-center{
         text-align: center;
     }
     .text-mobile-align-right{
         text-align: right;
     }
 }

 .fa-long-arrow-down{
    color:#e12c2b;
 }
  .fa-long-arrow-up{
    color:#8ABF67;
 }
 .fa-question-circle{
    color:#cdcdcd;
    cursor: pointer;
    padding-left:10px;
 }
 .has-tip, .has-tip:hover{
    border-bottom: none;
 }
.reveal-modal .close-reveal-modal{
    font-family: 'lato', 'sans-serif';
    font-weight: 300;
    text-decoration: none;
    color: #222222;
 }

 /** FOOTER **/
footer{
    .row{
        width: 100%;
        max-width: 100%;
        padding: 20px 20px 0px 20px;
        background-color: #333333;
        color: #fff;
        padding-bottom: 30px;

        .columns{
            margin-bottom:20px;
        }
    }
    a, .company-name-text, .quick-links{
        font-size: 15px;
        font-weight: 100;
        text-decoration: none;
        color: #fff;

        &:hover, &:active{
            color: #fff;
            text-decoration: none;
        }
    }
    .quick-links a:hover{
        text-decoration: underline;
    }

}

/** Solving Menu Problem for Profile Page **/
@media (max-width: 640px){
    nav{
        z-index:1;
    }
    .profile{padding-top:45px;
        z-index:-1
    }
}


/****** POP UP *************/
.popup{

    padding:0px;
    padding-top:40px;

    .close-pop-up, .profile .profile-options .close-profile-pop-up{
        position:absolute;
        z-index: 99999;
        right:15px;
        top:20px;
        cursor: pointer;
        font-weight: 900;
    }
     .spacer-teritary.smaller{
        height: 10px;
    }
     .active-steps,  .disclaimer,  .analytics{
        padding:20px;
    }
     h3{
        margin-bottom:20px;
    }

     h3.orange,  p.orange strong{
        color: #e4702a;
    }
     h3.blue,  p.blue strong{
        color: #2aa9e0;
    }
     p.orange strong{
        font-weight: 400;
    }
     .btn.orange{
        background: #e4702a;
    }
     .btn.orange:hover{
        background: #d26828;
    }
     .btn.blue{
        background: #2aa9e0;
    }
     .btn.blue:hover{
        background: #279dd1;
    }
     a.black{
        color: #222;
    }
    .popup-logo img{
        width: 150px;
        margin-bottom:50px;
    }
    .popup-logo img.stack-overflow-text-icon{
        max-height: 90px;
        width: auto;
        padding: 0px 30px;
    }    
    .popup-logo.stackoverflow img{
        width: 300px;
        margin-bottom:20px;
    }
    .popup-logo.twitter img{
        width: 100px;
        margin-bottom:20px;
    }
     .circles{
        margin-bottom:30px;
    }
     .circle{
        width:70px;
        height:70px;
        border-radius:50%;
        font-size:25px;
        color:#fff;
        padding-top:15px;
        text-align:center;
        background:#e6e6e6;
        display: inline-block;
        padding:20px 0px;

    }
     .circles.blue{
        margin-bottom: 20px;
    }
     .circle.middle{
        margin: 0 20px;
    }
     .circle.green{
        background: #8abf67;
    }
     .circle.orange{
        background: #e4702a;
    }
     .circle.blue{
        background: #2aa9e0;
    }


    /** DISCLAIMER **/
     .disclaimer,  .anlytics{
        background: #e6e6e6;
    }
     .disclaimer p{
        padding-top:30px;
        padding-bottom: 30px;
        margin-bottom:0px;
        font-size: 15px;
    }

    &.profile-updates{
        padding:20px;
        text-align: left;

        input.update-email, input.update-full-name, input.update-profile-photo, input.update-blog-url, input.update-bio{
            color:#222 !important;
        }
        label{
            margin-bottom:5px;
        }

        h3{
            margin-bottom: 0px;
        }

        a.close-reveal-modal.btn{
         display: inline-block;
         -webkit-border-radius: 3;
         -moz-border-radius: 3;
         border-radius: 3px;
         color: #ffffff;
         font-size: 20px;
         padding: 20px 0px;
         width:250px;
         text-align: center;
         text-decoration: none;
         background: #8abf67;
         margin-bottom:15px;
         position:static;
         display: block;
        }
    }
}
.profile-menu{
    display:none;
}
@media (min-width: 1025px){
    .offset-profile-menu{
        display: block !important;
    }
}
@media (max-width: 1024px){
    .profile-menu{
        display:none;
    }
    body > nav > section.top-bar-section > ul.right > li > h2 a{
        margin-left:20px;
    }
    .profile-menu{
        display:inline-block;
        position: absolute;
        background: white;
        font-size: 1.5rem;
        padding: 0px 20px;
        font-weight: 400;
        font-family: 'lato', 'sans-serif';
        text-decoration: none;
        background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
        background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf));
        background-color: #ededed;
        color: #222;
        cursor: pointer;
        &.active{
            background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #7E7E7E), color-stop(100%, #7E7E7E));
        }
    }
    .title-area{
        margin-left: 75px !important;
        li{
            list-style: none !important;
        }
    }
    .offset-profile-menu{
        max-width: 350px;
        position: absolute;
        z-index: 1;
        background-color: #f1f1f1;
        box-shadow: 10px 10px 52px #888888;
        display: none;
        padding-top:20px;
        &.active{
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(126, 126, 126)), to(rgb(126, 126, 126)));
            padding-top:20px;
        }
    }
}

.pop-up-profile-container{
    position: relative;
    .text-align-center{
        margin-top: 10px;
    }
}
.pop-up-profile-init{
    cursor: pointer;
}
.pop-up-profile{
    background: #fff; 
    width: 200px; 
    display: block; 
    position: absolute; 
    z-index: 1; 
    left: -105px; 
    top: 55px; 
    padding: 30px 10px 30px 10px; 
    border: 1px solid #ccc;
    display: none;
}
.pop-up-triangle{
    position: absolute;
    top: -10px;
    right: 56px;
    width: 10px !important;
    min-width: 20px !important;
    height: auto !important;
}
.pop-up-image{
    text-align: center;

    img{
        margin-right: 0px !important; 
        margin-bottom: 10px !important; 
        height: 75px !important; 
        width: 75px !important;
    }
}
.pop-up-name{
    text-align: center; 
    padding-bottom:0px
}
.pop-up-tier{
    text-align: center; 
    margin-bottom:0px;
}
.pop-up-follow-btn{
    text-align: center; 
    background: #8abf67; 
    max-width: 94px; 
    margin: 0 auto; 
    padding: 7px; 
    color: white; 
    border-radius: 20px;
    display: block;
    text-decoration: none;
    &:hover{
     background: #719c54;
     text-decoration: none;
     color: white;
    }
}
.pop-up-unfollow-btn{
    text-align: center; 
    background: #E6E6E6; 
    max-width: 94px; 
    margin: 0 auto; 
    padding: 7px; 
    color: #222; 
    border-radius: 20px;
    display: block;
    text-decoration: none;
    &:hover{
     background: #d3d3d3;
     text-decoration: none;
     color: #222;
    }
}
/*** CHAT ***/
span#fchat-header-label, #fchat-arrow{
    color: #fff !important;
    background: #222;
}
h3.user-full-name{
font-size: 1.375rem !important;
line-height: 1.875rem !important;
padding-bottom: 0px !important;
margin-bottom: 10px !important;
font-weight: 400 !important;
}
.compare-container{
    .current_changed{
        margin-top:10px;
    }
    .current_total{
        margin-top:10px;
    }
    h4{
        font-size: 1.175rem !important;
        line-height: 1.675rem !important;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        margin-top: 10px !important;
    }
}