.leaderBoard-pane{

	margin-top:20px;
	margin-bottom: 20px;
	
	// bypassing some TableData CSS
	.dataTables_wrapper .dataTables_filter input{
		margin:0px;
	}
	table, table.dataTable.no-footer, table.dataTable thead th, table.dataTable thead td{
		border: 0px;
	}
	select[name=leaderboard_length]{
	  display: inline !important;
  	margin-left: 10px !important;
  	width: 170px !important;
	}
	.dataTables_length label::before{
		content: "Show " !important;
	}

	.leaderboard_filter input{
		font-weight: 100;
	}
	table.dataTable thead .sorting_asc{
		background-image:url(../images/helpers/sort_asc.png) !important;
	}
	table.dataTable thead .sorting_desc{
		background-image:url(../images/helpers/sort_desc.png) !important;
	}
	

	#leaderboard{
		img{
		  height: auto;
		  height: 40px;
		  width: 40px;
		  min-width: 40px;
		  border-radius: 50%;
		  -webkit-border-radius: 50%;
		  margin-right:10px;
		}
		table{
			border-bottom: 1px solid #ccc;
			margin-bottom: 15px;
		}
		tbody{
			tr{
				&.odd{
					background: #f8f8f8;
				}

				&:hover, &:active{
					background: #e6e6e6;
				}

				&.current_user{
					background: #f5f73f;
				} 	

				td{
					padding: 8px 20px;
					font-size: 0.9375rem;
					line-height: 1.4375rem;
				}
			}
		}
	}
	li{
		list-style: none;
	}
	.child{ 
		background: #e6e6e6;
		ul{
			width:100%;
		}
	}
	/** Tablet View When window is smaller than 960px but above 768px  **/
  @media (max-width: 455px){
  	table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before{
				top: auto !important;
				left: 10px !important;
  	}
  	td.rank{
  		padding-left: 35px !important
  	}
  }

}